/* :root {
	--accent-orange: rgb(245, 130, 32);
	--accent-orange-light: rgb(255, 180, 100);
} */

.navbar {
	position: relative;
	background-color: #f2f2f2;
	padding: 1rem;
	margin: 0 auto;
	border-bottom: 1px solid black;
}
.navbar__start {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 27px;
	font-weight: bold;
	text-align: start;
	color: var(--color-primary);
}
.navbar__container {
	/* position: relative; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar__center {
	display: flex;
	gap: 1rem;
	@media screen and (max-width: 768px) {
		display: none;
	}
}
.navbar__button:hover {
	background-color: var(--color-secondary);
	transition: 0.2s;
}

.navbar__dropdown {
	position: absolute;
	display: none;
	background-color: var(--color-primary);
	color: white;
	border: none;
	padding: 0.5rem;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.2s;
}

.navbar__hamburger {
	position: absolute;
	right: 1.5rem;
	z-index: 1100; /* hoger dan .navbar__mobile (1000) */
	display: none;
	flex-direction: column;
	gap: 0.3rem;
	background: none;
	border: none;
	cursor: pointer;
}

.navbar__hamburger span {
	background-color: black;
	width: 25px;
	height: 3px;
}

.navbar__mobile {
	position: absolute;
	top: 0;
	right: -500px;
	width: 11rem;
	height: 100vh;
	background-color: var(--color-primary);
	display: flex;
	flex-direction: column;
	padding: 2rem 1rem;
	gap: 1rem;
	transition: right 0.3s ease;
	z-index: 1000;
	padding-top: 5rem;
	a {
		text-align: end;
		color: white;
	}
}

.navbar__mobile--open {
	right: 0;
}
@media screen and (max-width: 768px) {
	.navbar__hamburger {
		display: flex;
		flex-direction: column;
		gap: 0.2rem;
		cursor: pointer;
		span {
			background-color: black;
			width: 20px;
			height: 3px;
		}
	}
}

@media screen and (min-width: 769px) {
	.navbar__mobile {
		display: none;
	}
}
